Body{
  background-color: cyan;
  font-family: serif;
  font-size: 15;
   
}
h1{
  color: navy;
  text-align: center;
}
h2{
  color: navy;
  text-align: center;
}
h3{
  color: navy;
  margin-left: auto;
  margin-right: auto;
  width:43em
}
P.blocktext{
  margin-left: auto;
  margin-right: auto;
  width:50em
}
ul.blocktext{
  margin-left: auto;
  margin-right: auto;
  width:50em
}
ol.blocktext{
  margin-left: auto;
  margin-right: auto;
  width:50em
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.test-box {
  border: 5px solid navy;
  padding:20px;
  margin: 20px;
}
@media screen and (min-width: 480px){
}
